<%
  ug_menu_items = []
  ug_menu_items << {label: 'Members', url: members_team_path(@team), match: {controller: 'teams', action: 'members'}}
  ug_menu_items << {label: 'Pokes', url: team_pokes_path(@team), match: {controller: 'pokes', action: 'index'}}

  other_teams = current_user.teams.where.not(id: @team.id)
  if other_teams.exists?
    ug_menu_items << {type: :separator, label: 'Other teams'}

    other_teams.each do |team|
      ug_menu_items << {label: "Team: #{team.name}", url: (controller_name == 'pokes' and action_name == 'index') ? team_pokes_path(team) : members_team_path(team)}
    end
  end
%>
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <% ug_menu_items.each do |ug_menu_items| %>
    <% if ug_menu_items[:type] == :separator %>
      <br/><span class="text-secondary mb-2"><%= ug_menu_items[:label] %></span>
    <% else %>
      <%= link_to ug_menu_items[:label], ug_menu_items[:url], class: "nav-link shadow-sm mb-2 #{'active' if ug_menu_items[:match] == {controller: params[:controller], action: params[:action]}}" %>
    <% end %>
  <% end %>
</div>