<div class="row mb-1">
  <div class="col-12">
    <%= form_with(url: members_team_path(@team)) do %>
      <div class="form-row mb-2">
        <div class="col-10">
          <%= select_tag 'fmnos_with_name_and_email[]', '', multiple: true, id: 'fmnos_select2_field', class: 'form-control' %>
        </div>
        <div class="col-2">
          <%= submit_tag 'Add members', class: "form-control btn btn-dark", data: {disable_with: "Saving..."} %>
        </div>
      </div>
    <% end %>

    <script type="text/javascript">
        $('#fmnos_select2_field').select2({
            theme: "bootstrap",
            placeholder: "Search and select users(members) by name or fmno",
            multiple: true,
            ajax: {
                url: '<%=people_enumerations_path(format: :json, combine_name_email_and_fmno: true) %>',
                dataType: 'json'
            }
        });
    </script>
    <hr/>
  </div>
</div>