<div class="jumbotron">
  <h1 class="display-4">Now that you are here,</h1>
  <p class="lead">Here is a small intro on what i am capable of and what i bring on the table.</p>
  <hr class="my-4">
  <p>What you can do or can't do, below is the list</p>
  <ol>
    <li>As a <strong>Team member</strong>(to any team) one can</li>
    <ol class="mb-3">
      <li>View team members from the teams but can't edit or delete.</li>
      <li>Create new Search particles and can also use search particles from participating teams, but can delete
        only own created ones.
      </li>
    </ol>

    <li>As a <strong>Team leader</strong>(to any team) other than all of team member's capabilities, one can</li>
    <ol class="mb-3">
      <li>Create, update callback urls, team leaders, team members in the teams.</li>
      <li>Create and delete any Pokes in the team.</li>
    </ol>

    <li>As an <strong>Application admin</strong> one can</li>
    <ol class="mb-3">
      <li>Have access to admin section of application a.k.a 'under grounds' in the application.
      <li>Add new Team(s)(including team leaders).
      <li>Delete accounts.</li>
      <li>Add/remove application admins.</li>
    </ol>
  </ol>
  </p>
</div>