# Default values for expertise.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
namespace: k8sprodsf01-proposetowin-prodsf
image:
  repository: artifacts.intranet.mckinsey.com/k8s-proposetowin-snapshots/carom
  tag: latest
  pullPolicy: Always
  UID: 1001

applicationName: "carom"
appShortName: "carom"
appDNS: scheduler.intranet.mckinsey.com

ingress:
  bodysize: 10m

healthCheck:
  liveness: "/documents"
  readiness: "/documents"
  initialDelaySeconds: 60
  periodSeconds: 30
  timeoutSeconds: 30

service:
  type: NodePort
  port: 80
  containerPort: 3000

envVariables:
  CAROM_DATABASE_HOST: amdc-mysqldb1314-cluster.amdc.mckinsey.com
  CAROM_DATABASE_PORT: 3311
  RAILS_ENV: production
  RAILS_LOG_TO_STDOUT: true
  RAILS_SERVE_STATIC_FILES: true
  RAILS_MAX_THREADS: 10
  WEB_CONCURRENCY: 6
  CACHE_HOST: memcache.k8sprodsf01-proposetowin-prodsf
  HOLY_BASIL_HOST: https://eai.intranet.mckinsey.com
  FENNEL_HOST: https://authenticator.intranet.mckinsey.com
  notify_dev_team_at: dope_prod_notificatio-aaaae2mu5xcxgfpiv5dy6quryy@mckinsey.org.slack.com

envSecrets:
  secretKeyRef: "vault-secrets-repo"
  secretvarMapping:
    - key: CAROM_DATABASE_NAME
    - key: CAROM_DATABASE_USERNAME
    - key: CAROM_DATABASE_PASSWORD
    - key: PROPOSAL_MAILER_USERNAME
    - key: PROPOSAL_MAILER_PASSWORD
    - key: CAROM_FENNEL_REFRESH_TOKEN
    - key: CAROM_HOLY_BASIL_REFRESH_TOKEN
    - key: RAILS_MASTER_KEY

ssl:
  redirect: true
  disable_http: false

ingresstype: passthrough

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: "0.4"
    memory: "1024Mi"
  requests:
    cpu: "0.20"
    memory: "768Mi"
