<p>Hi <%= @team.name %>,</p>

<p>Configured poke URL became '<%= Poke::INACTIVE %>'.</p>
<p>Configured poke URL:
<pre><%= @poke.url %></pre></p>
<p>You can fix your URL on clicking this link <%= link_to team_pokes_url(@team), team_pokes_url(@team) %></p>

Thanks & Regards,
<br/>
Scheduler Team