# Default values for expertise.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
namespace: k8sqasf01-proposetowin-qasf
image:
  repository: artifacts.intranet.mckinsey.com/k8s-proposetowin-snapshots/carom-qa
  tag: latest
  pullPolicy: Always
  UID: 1001

applicationName: "carom"
appShortName: "carom"
appDNS: schedulerqa.intranet.mckinsey.com

ingress:
  bodysize: 10m

healthCheck:
  liveness: "/documents"
  readiness: "/documents"
  initialDelaySeconds: 60
  periodSeconds: 30
  timeoutSeconds: 30

service:
  type: NodePort
  port: 80
  containerPort: 3000

envVariables:
  CAROM_DATABASE_HOST: qa-mysqldb1314cluster.amdc.mckinsey.com
  CAROM_DATABASE_PORT: 3311
  RAILS_ENV: qa
  RAILS_LOG_TO_STDOUT: true
  RAILS_SERVE_STATIC_FILES: true
  RAILS_MAX_THREADS: 10
  WEB_CONCURRENCY: 6
  CACHE_URL: redis://redis.k8sqasf01-proposetowin-qasf
  notify_dev_team_at: dope_notifications-aaaaeywbsjgnkwuvbslxbaikvu@mckinsey.org.slack.com

envSecrets:
  secretKeyRef: "vault-secrets-repo"
  secretvarMapping:
    - key: CAROM_DATABASE_NAME
    - key: CAROM_DATABASE_USERNAME
    - key: CAROM_DATABASE_PASSWORD
    - key: RAILS_MASTER_KEY

ssl:
  redirect: true
  disable_http: false

ingresstype: passthrough

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: "0.4"
    memory: "1024Mi"
  requests:
    cpu: "0.20"
    memory: "768Mi"
