// Custom bootstrap variables must be set or imported *before* bootstrap.
$enable-gradients: true;
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";
@import "accounts";
@import "documents";
@import "sessions";
body {
  min-height: 100vh;
}

.flex-grow {
  flex: 1;
}

.monospace_text {
  margin-top: 1rem;

  li {
    font-size: 0.80em;
    font-family: monospace;
    border-bottom: 1px dotted #eee;
    &:last-child {
      border-bottom: none;
    }
  }
}