name: 01. Checkout, Build And Push to jFrog on-prem and jFrog on-cloud
on:
  # Manual trigger from the UI
  workflow_dispatch:

  # On push to branch
  push:
    branches:
      - master

# Ensures that only one deploy task per branch/environment will run at a time.
concurrency:
  group: integration-build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checkout_build_and_push_docker_image:
    runs-on: [ linux, PlatformAccelerator ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            mckinsey-elm-dope-docker.jfrog.io/integration/carom
            artifacts.intranet.mckinsey.com/k8s-proposetowin-snapshots/carom
          # generate Docker tags based on the following events/attributes
          tags: |
            type=raw,value=latest
            type=sha

      - name: Login to on-prem jFrog artifactory
        uses: docker/login-action@v1
        with:
          registry: artifacts.intranet.mckinsey.com
          username: ${{ secrets.ARTIFACTORY_USERNAME }}
          password: ${{ secrets.ARTIFACTORY_PASSWORD }}

      - name: Login to jFrog SAAS(mckinsey-elm-dope-docker)
        uses: docker/login-action@v1
        with:
          registry: mckinsey-elm-dope-docker.jfrog.io
          username: ${{ secrets.JFROG_USERNAME_RW }}
          password: ${{ secrets.JFROG_PASSWORD_RW }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            JFROG_USERNAME=${{ secrets.JFROG_USERNAME_RO }}
            JFROG_PASSWORD=${{ secrets.JFROG_PASSWORD_RO }}
          push: ${{ github.event_name != 'pull_request' }}
          file: Dockerfile4GoCD
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}