name: Checkout, Build And Push on 'mckinsey-elm-dope-docker'
on:
  push:
    branches:
      - master
jobs:
  checkout_build_and_push_docker_image:
    runs-on: [ linux, PlatformAccelerator ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: mckinsey-elm-dope-docker.jfrog.io/carom
          # generate Docker tags based on the following events/attributes
          tags: |
            type=raw,value=latest
            type=sha

      - name: Docker Login to mckinsey-elm-dope-docker
        run: docker login -u ${{ secrets.JFROG_USERNAME_RW }} -p ${{ secrets.JFROG_PASSWORD_RW }} mckinsey-elm-dope-docker.jfrog.io

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            JFROG_USERNAME=${{ secrets.JFROG_USERNAME_RO }}
            JFROG_PASSWORD=${{ secrets.JFROG_PASSWORD_RO }}
          push: ${{ github.event_name != 'pull_request' }}
          file: Dockerfile4GoCD
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}