<%
  ug_menu_items = []
  ug_menu_items << {label: 'Show', url: account_path(@account), match: {controller: 'accounts', action: 'show'}}
  #ug_menu_items << {label: 'Accounts', url: accounts_team_path(@team), match: {controller: 'teams', action: 'accounts'}}


  other_accounts = current_user.accounts.where.not(id: @account.id)
  if other_accounts.exists?
    ug_menu_items << {type: :separator, label: 'Other accounts'}

    other_accounts.each do |account|
      ug_menu_items << {label: "Account: #{account.name}", url: account_path(account)}
    end
  end
%>
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <% ug_menu_items.each do |ug_menu_items| %>
    <% if ug_menu_items[:type] == :separator %>
      <br/><span class="text-secondary mb-2"><%= ug_menu_items[:label] %></span>
    <% else %>
      <%= link_to ug_menu_items[:label], ug_menu_items[:url], class: "nav-link shadow-sm mb-2 #{'active' if ug_menu_items[:match] == {controller: params[:controller], action: params[:action]}}" %>
    <% end %>
  <% end %>
</div>