<div class="row">
  <div class="col-12">
    <div class="alert alert-info" style="font-size: 0.85rem" role="alert">
      <h6>Cron field valid values</h6>
      <hr/>
      <pre><%=Poke::CRON_HELP %></pre>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= render partial: 'accounts/pokes', locals: {account: @account} %>
  </div>
</div>
