<h3>Accounts</h3>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add new account</h5>
        <div class="card-text">
          <%= form_for(@account || Account.new, url: accounts_path) do |form| %>
            <div class="input-group mb-2">
              <%=form.text_field :name, class: "form-control", placeholder: "Account's name"%>
              <div class="input-group-append">
                <%= form.submit 'Create', class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% @accounts.each do |account| %>
    <%= render(partial: 'accounts/card', locals: {account: account}) %>
  <% end %>
</div>